.page-title-inner {
    // padding-top: 44px;
}

.shop-page-title__heading {
    color: #1F2937;

    /* heading 1 */
    font-family: var(--font-definitions-font-family-headings, Inter);
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0;
    margin-bottom: 24px;
}