.woocommerce-checkout-review-order-table {
    margin-bottom: 0;
    border: none;

    td,
    th {
        border: unset;
    }

    thead {
        .product-name {
            color: var(--general-muted-foreground, #6B7280);

            /* paragraph mini/medium */
            font-family: var(--font-definitions-font-family-body, Inter);
            font-size: var(--paragraph-mini-font-size, 12px);
            font-style: normal;
            font-weight: 500;
            line-height: var(--paragraph-mini-line-height, 133.333%);
            letter-spacing: 0.18px;
        }

        .product-total {
            color: var(--general-muted-foreground, #6B7280);
            text-align: right;

            /* paragraph mini/medium */
            font-family: var(--font-definitions-font-family-body, Inter);
            font-size: var(--paragraph-mini-font-size, 12px);
            font-style: normal;
            font-weight: 500;
            line-height: var(--paragraph-mini-line-height, 133.333%);
            letter-spacing: 0.18px;
        }
    }

    tbody {
        border-bottom: 1px solid var(--general-border, #E5E7EB);

    }
}

.cart_item {
    .product-name {
        .c-ro-item {}
    }

    .product-total {
        display: flex;
        flex-direction: column;

        ins {
            .amount {
                color: var(--general-foreground, #1F2937);
            }
        }
    }
}

.c-ro-item {
    display: flex;
    gap: 14px;
    align-items: center;

    .c-ro-item__thumb {
        width: 80px;
        flex-shrink: 0;
        align-self: stretch;

        img {}
    }

    .c-ro-item__content {
        flex: 1 1 auto;
        min-width: 0;

        .product-quantity {
        }
    }

    .c-ro-item__title {
        color: var(--general-foreground, #1F2937);

        /* paragraph mini/bold */
        font-family: var(--font-definitions-font-family-body, Inter);
        font-size: var(--paragraph-mini-font-size, 12px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--paragraph-mini-line-height, 133.333%);
        letter-spacing: 0.18px;
    }
}

.cart-subtotal,
.order-total {
    span.amount {
        color: var(--general-foreground, #1F2937);
        text-align: right;

        /* paragraph/bold */
        font-family: var(--font-definitions-font-family-body, Inter);
        font-size: var(--paragraph-regular-font-size, 16px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--paragraph-regular-line-height, 150%);
        letter-spacing: var(--paragraph-regular-letter-spacing, 0);
    }
}

.cart-savings {

    th,
    td {
        color: var(--emerald-600, #059669);

        /* paragraph mini/medium */
        font-family: var(--font-definitions-font-family-body, Inter);
        font-size: var(--paragraph-mini-font-size, 12px);
        font-style: normal;
        font-weight: 500;
        line-height: var(--paragraph-mini-line-height, 133.333%);
        letter-spacing: 0.18px;
    }

    td {
        span.amount {
            color: var(--emerald-600, #059669);
            font-weight: 700;
        }
    }
}

.c-divider {
    td {
        border-bottom: 1px solid var(--general-border, #E5E7EB);
        padding: 0;
    }
}
.c-divider-gap{
    td{
        padding: 0 0 16px;
    }
}